[{:db/ident :current-serie/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :current-serie/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :current-serie/slug
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :current-serie/season
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :current-serie/episode
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :current-serie/created-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}]
