[{:db/ident :movie/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :movie/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :movie/slug
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :movie/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :movie/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :movie/created-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}]
