#menu-switch {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
        ~ .navigation-menu .menu {

            span {
                @include transform(rotate(180deg));

                &:before,
                &:after {
                    width: 50%;
                }

                &:before {
                    top: 0;
                    @include transform(translateX(1em) rotate(45deg));
                }

                &:after {
                    bottom: 0;
                    @include transform(translateX(1em) rotate(-45deg));
                }
            }
        }

        ~ .navigation-menu .side-menu {
            left: 0;
        }

        ~ .content {
            margin-left: 300px;
        }
    }
}

.navigation-menu {
    background-color: $base-blue-dark;
    font-family: 'Bebas Neue';
    position: relative;

    .header-title {
        padding-top: 0.5em;
        font-size: 1.1em;
        text-align: center;
    }

    .logout {
        font-size: 1.2em;
        position: absolute;
        right: 1em;
        text-decoration: none;
        top: calc(50% - 0.4em);
        color: white;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    .menu {
        display: inline-block;
        position: absolute;
        left: 1em;
        overflow: hidden;
        width: 3em;
        height: 3em;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        background-color: $base-blue-dark;

        &:focus {
          outline: none;
        }

        $menu-height: 0.2em;
        $menu-width: 0.5em;
        $menu-spacing: -0.5em;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: $menu-width;
            right: $menu-width;
            height: $menu-height;
            background: white;
            border-radius: 20%;
            @include transition(transform 0.3s);

            &:before,
            &:after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: $menu-height;
                background-color: white;
                content: "";
                border-radius: 20%;
            }

            &:before { 
                top: $menu-spacing; 
                transform-origin: top right;
                @include transition(transform 0.3s, width 0.3s, top 0.3s);
            }
            &:after { 
                bottom: $menu-spacing;
                transform-origin: bottom right;
                @include transition(transform 0.3s, width 0.3s, bottom 0.3s);
            }
        }
    }

    .side-menu {
        left: -300px;
        width: 300px;
        background-color: $base-blue-dark;
        height: 100%;
        position: fixed;
        z-index: 22;
        @include transition(left 0.3s);
        padding-top: 0.5em;

        .link {
            position: relative;
            $iconSize: 1.5em;

            &:before {
                content: '';
                width: $iconSize;
                height: $iconSize;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -($iconSize / 2);
                margin-left: 1em;
                cursor: pointer;
            }

            &.home:before { background: url($local-images-dir + 'home.png') no-repeat center; background-size: 100%; }
            &.serie:before { background: url($local-images-dir + 'serie.png') no-repeat center; background-size: 100%; }
            &.movie:before { background: url($local-images-dir + 'movie.png') no-repeat center; background-size: 100%; }

            a {
                padding-left: 3em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                text-decoration: none;
                color: white;    
                font-size: 1.5em;
                letter-spacing: 2px;
                display: block;            
            }
        }

        .github {
            $size: 2.5em;

            position: absolute;
            left: 50%;
            margin-left: -($size / 2);
            bottom: $size * 2;
            width: $size;
            height: $size;
            border-radius: 50%;
            background-color: white;
            @include transition(box-shadow 0.2s);
            @include transition(transform 0.3s ease);

            &:hover {
                box-shadow: 0px 0px 14px 0px white;
                @include transform(rotateY(180deg));
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.content {
    @include transition(margin 0.3s);
    position: relative;
}