.logo {
    font-family: 'Bebas Neue';
    color: white;
    perspective: 1000px;
    perspective-origin: 50% 0;
    display: inline-flex;

    span {
        display: block;

        $letters: 8;
        @for $i from 1 through $letters {
          $offset: $i - ceil($letters / 2);
          $trans: if($offset > 0, -89.5deg, 89.5deg);

          &:nth-child(#{$i}) {
            transform-origin: 50% + 50%/$offset 200%;
            font-size: if($offset == 0,
              0.95em,
              1em + 0.015 * abs($offset) * abs($offset));
            transform:
                if($offset == 0, scale(1, 1), scale(95.9 - abs($offset) * 10, 1))
                if($offset == 0, translatey(0%), rotatey($trans));
          }
        }
    }
}