$controlsHeight: 2.2rem;

.video-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $controlsHeight;
	@include transition(opacity 200ms);
	opacity: 0;
	visibility: hidden;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	&.hide {
		opacity: 0;
		@include animation(hide-controls 2s linear);
	}

	.play {
		display: inline-block;
		width: 8%;

		button {
			position: relative;
			height: 0;
			border: 0;
			height: $controlsHeight / 2;
			vertical-align: text-bottom;
			background: transparent;
			border-color: transparent transparent transparent white;
			transition: 200ms all ease;
			cursor: pointer;

			border-style: solid;
			border-width: 0.5rem 0 0.5rem 1rem;
			margin-left: 0.8rem;
			margin-bottom: 0.5rem;

			&:focus {
				outline: none;
			}

			&.paused {
				border-style: double;
				border-width: 0 0 0 16px;
			}
		}
	}

	.time {
		width: 30%;
		height: 100%;
		text-align: center;
		display: none;
		position: relative;
		font-size: 0.8rem;
	    user-select: none;

		span {
			line-height: 0.2rem;
			top: calc(50% - 0.1rem);
			left: 12%;
			position: absolute;
			display: inline;
			color: white;
		}
	}

	%tooltip-container {
		height: 100%;
		display: inline-block;
		position: relative;

		> div {
			position: absolute;
			top: 25%;
			width: 100%;
			height: 50%;
			cursor: pointer;

			> div {
				background-color: white;
				vertical-align: middle;
				width: 100%;
				height: 2px;
				top: $controlsHeight / 4;
				position: absolute;

				> span {
					cursor: pointer;
					border: 0.4rem solid white;
					border-radius: 50%;
					background: white;
					position: absolute;
					top: -0.4rem;
					left: -0.4rem;
					@include transition(box-shadow 0.1s);

					&:hover {
						box-shadow: 0px 0px 14px 0px white;
					}
				}
			}
		}
	}

	.progress-container {
		width: 26%;
		@extend %tooltip-container;
	}

	.volume-icon {
		width: 10%;
		height: 100%;
		display: inline-block;

		button {
			width: 100%;
			cursor: pointer;
			height: 100%;
			border: none;
			vertical-align: text-bottom;
			height: 100%;
			background: url('/images/video/sound-on.png') no-repeat center;
			background-size: 1.6em;
			padding: 0;

			&:focus {
				outline: none;
			}

			&.mute {
				background: url('/images/video/sound-off.png') no-repeat center;
				background-size: 1.6em;
			}
		}
	}

	.volume-container {
		width: 13%;	
		@extend %tooltip-container;
	}

	.fullscreen {
		width: 13%;
		display: inline-block;
		height: 100%;

		button {
			width: 100%;
			cursor: pointer;
			height: 100%;
			border: none;
			vertical-align: text-bottom;
			height: 100%;
			background: url('/images/video/fullscreen-on.png') no-repeat center;
			background-size: 1.2em;
			padding: 0;

			&:focus {
				outline: none;
			}
		}
	}
}

@media (min-width: 340px) {
	.video-controls {
		.time {
			display: inline-block;
		}
	}
}

@media (min-width: 420px) {
	.video-controls {
		.play {
			width: 5%;
		}

		.time {
			width: 30%;
		}

		.progress-container {
			width: 25%;
		}

		.volume-icon {
			width: 12%;
		}

		.volume-container {
			width: 18%;
		}

		.fullscreen {
			width: 10%;
		}
	}
}

@media (min-width: 560px) {
	.video-controls {
		.play {
			width: 5%;

			button {
				&:hover {
					border-color: transparent transparent transparent #E5E5E5;
				}
			}
		}

		.time {
			width: 20%;
		}

		.progress-container {
			width: 49%;
		}

		.volume-icon {
			width: 8%;
		}

		.volume-container {
			width: 10%;
		}

		.fullscreen {
			width: 8%;
		}
	}
}

@media (min-width: 799px) {
	.video-controls {
		.play {
			width: 5%;
		}

		.time {
			width: 26%;
		}

		.progress-container {
			width: 39%;
		}

		.volume-icon {
			width: 8%;
		}

		.volume-container {
			width: 12%;
		}

		.fullscreen {
			width: 10%;
		}
	}
}

@media (min-width: 1200px) {
	.video-controls {
		.play {
			width: 5%;
		}

		.time {
			width: 20%;
		}

		.progress-container {
			width: 47%;
		}

		.volume-icon {
			width: 8%;
		}

		.volume-container {
			width: 12%;
		}

		.fullscreen {
			width: 8%;
		}
	}
}

@media (min-width: 1440px) {
	.video-controls {
		.play {
			width: 4%;
		}

		.time {
			width: 15%;
		}

		.progress-container {
			width: 55%;
		}

		.volume-icon {
			width: 8%;
		}

		.volume-container {
			width: 10%;
		}

		.fullscreen {
			width: 8%;
		}
	}
}

@media (min-width: 1920px) {
	.video-controls {
		.play {
			width: 3%;
		}

		.time {
			width: 14%;
		}

		.progress-container {
			width: 57%;
		}

		.volume-icon {
			width: 8%;
		}

		.volume-container {
			width: 12%;
		}

		.fullscreen {
			width: 6%;
		}
	}
}


@keyframes hide-controls {
    0% {
        opacity: 1;
        visibility: visible;
    }

    80% {
        opacity: 1;
        visibility: visible;

    }
    100% {
        opacity: 0;
    }
}