@import 'video-controls';

.video {

	.video-container {
		position: relative;
		font-size: 0;

		$playBorderSize: 6em;
		$borderSize: 0.4em;
		$playSize: 1.8em;
		$playMargin: -($playBorderSize / 2) - ($borderSize / 2);

		&:hover {
			.start-video {
				width: $playBorderSize * 1.1;
				height: $playBorderSize * 1.1;
				margin-left: $playMargin * 1.1;
				margin-top: $playMargin * 1.1;

				&:after {
					$playSizeIncreassed: $playSize * 1.1;
					border-width: $playSizeIncreassed 0 $playSizeIncreassed $playSizeIncreassed * 1.8;
					margin-left: -($playSizeIncreassed / 1.5);
					margin-top: -$playSizeIncreassed;
				}
			}
		}

		.start-video {
			cursor: pointer;
			font-size: 0.75rem;
			@include transition(0.1s);
			position: absolute;
			width: $playBorderSize;
			height: $playBorderSize;
			display: block;
			margin-left: $playMargin;
			margin-top: $playMargin;
			left: 50%;
			top: 50%;
			z-index: 2147483647; // Chrome fullscreen magical-number
			border: $borderSize solid white;
			border-radius: 50%;
			background-color: rgba(0, 0 ,0 ,0.4);
			opacity: 0;
			visibility: hidden;

			&:after {
				@include transition(0.1s);
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -($playSize / 1.5);
				margin-top: -$playSize;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: $playSize 0 $playSize $playSize * 1.8;
				border-color: transparent transparent transparent #ffffff;
			}

			&.show {
				opacity: 1;
				visibility: visible;

				~ .media {
					@include filter(brightness(30%));
				}
			}

			&.fullscreen {
				position: fixed;
			}

			&.downloading {
				background: url('//s3-sa-east-1.amazonaws.com/file.gregflix.site/images/video/downloading.gif') no-repeat center;
				background-size: 100%;
				border: none;

				&:after {
					display: none;
				}
			}
		}
	}

	.media {
		margin: auto;
		width: 100%;
		height: 100%;

		&.fullscreen {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
			z-index: 10;
		}
	}

	h1 {
		text-align: center;
		margin: 0.5em 0 0;
		margin-top: 1.8em;
		font-size: 1.8em;
		font-family: 'Museo Sans'
	}

	.episode {
		text-align: center;
		display: block;
		margin: 0.5em 0 1em;
		color: #888;
		font-size: 1.5em;
		font-style: italic;
		font-family: 'Museo Sans'
	}

	.episode-name {
		@extend %info-box;

		font-size: 1.2em;
		text-align: center;
		padding: 0.4em;
	}

	.description {
		@extend %info-box;
		padding: 1em;
	}

	.download {
		@extend %info-box;

		.download-video,
		.download-subtitle {
			text-decoration: none;
			width: 49%;
			border: none;
			text-align: center;
			padding: 0.8em 0;
			color: $base-blue;
			display: inline-block;
			@include transition(background-color 100ms)

			&:hover {
				background-color: $base-blue;
				color: white;
			}
		}

	}

	%info-box {
		margin: 4% 0;
		font-family: 'Museo Sans';
		background-color: #EEE;
		line-height: 1.4em;
	}
}

@media (min-width: 799px) {
	.video {
		position: relative;

		.video-container {
			width: 58%;
			margin: 2%;

			.start-video {
				font-size: 1rem;

				&.loading {
					background: url('//s3-sa-east-1.amazonaws.com/file.gregflix.site/images/video/loading.gif') no-repeat center;
					background-size: 100%;
					border: none;
					opacity: 1;
					visibility: visible;

					&:after {
						display: none;
					}
				}
			}
		}

		.media {
			display: inline-block;
		}

		.details {
			position: absolute;
			right: 0;
			top: 2%;
			width: 38%;

			%info-box {
				position: relative;

				&:before {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					left: -1em;
					top: calc(50% - 1em);
					border-right: 1em solid #eee;
					border-top: 1em solid transparent;
					border-bottom: 1em solid transparent;
					z-index: 1;
				}
			}

			.download {

				.download-video {

					&:before {
						content: '';
						width: 0;
						height: 0;
						position: absolute;
						left: -1em;
						top: calc(50% - 1em);
						border-right: 1em solid #eee;
						border-top: 1em solid transparent;
						border-bottom: 1em solid transparent;
						@include transition(border-color 100ms)
						z-index: 2;
					}

					&:hover {

						&:before {
							border-right: 1em solid $base-blue;
						}
					}
				}
			}
		}
	}
}