@import 'base';
@import 'logo';
@import 'header';

$duration:450ms;
$growFactor:1.5;

$videoWidth: 15em;
$videoHeight:$videoWidth / (16/9);
$moveLeft:-($videoWidth * ($growFactor - 1) / 2);
$moveRight:$videoWidth * ($growFactor - 1);

$mobileVideoWidth: 14em;
$mobileVideoHeight:$mobileVideoWidth / (16/9);

$iconSize: 3em;

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.caroussel-title {
  position: absolute;
  width: 100%;
  font-size: 1.8em;
  font-family: 'Museo Sans';
  margin: 1em 0;

  h2 {
    text-align: center;
  }
}

.caroussel {
  white-space: nowrap;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;  

  .caroussel-inner {
    margin:(($mobileVideoHeight / 2) + 1em) 0 ($mobileVideoHeight / 2) 0;
    transition: $duration transform;
  }

}
.video {
  position: relative;
  display: inline-block;
  width: $mobileVideoWidth;
  height: $mobileVideoHeight;
  text-decoration: none;
  transition: $duration all;
  transform-origin: center left;

  .episodes-flag {
    position: absolute;
    background: url('/images/arrow-down-white.png') center center no-repeat;
    width: 2em;
    height: 1em;
    right: 0;
    bottom: .2em;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 13;
    @include transition(transform 0.3s);

    &:hover {
      color: #AAA;
    }
  }

  .episodes-switch {
    display: none;

    &:checked {
      ~ .episodes-flag {
        @include transform(rotate(180deg));
        background-image: url('/images/arrow-down.png');
      }

      ~ .video-details {
        opacity: 0;
      }

      ~ .episodes {
        opacity: 0.9;
        visibility: visible;

        .season-details {
          display: block;
        }
      }
    } 
  }

  .episodes {
    position: absolute;
    padding: 1em;
    width: calc(100% - 2em);
    background-color: #eee;
    height: $mobileVideoHeight - 2em;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 12;
    @include transition(visibility 0s, opacity 0.2s linear);

    .season-details {
      display: none;

      summary {
        &::-webkit-details-marker { display:none; }

        list-style: none;
        font-family: 'Bebas Neue';
        cursor: pointer;
        text-align: left;
        outline: none;
        @include transition(color 0.1s, margin 0.1s);

        &:hover {
          color: $base-blue;
          margin-left: 0.2em;
        }
      }
    }

    .title {
      position: relative;
      font-family: 'Bebas Neue';
      margin-bottom: 0.5em;
      color: black;
    }

    .link {
      color: #444;
      font-family: 'Museo Sans';
      display: block;
      width: 100%;
      padding: 0.1em;
      font-size: 0.9em;
      text-decoration: none;

       &:hover {
          color: $base-blue;
       }
    }
  }
}

.video-img {
  position: absolute;
  left: 0;
  top: 0;
  width: $mobileVideoWidth;
  height: $mobileVideoHeight;
}
.video-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Museo Sans';
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: $duration opacity;

  &:after,
  &:before {
    color: white;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:after {
    margin-top: -($iconSize / 2);
    margin-left: -($iconSize / 2);
    width: $iconSize;
    height: $iconSize;
    border: 3px solid white;
    line-height: $iconSize;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }

  &:before {
    content: '▶';
    font-size: 2em;
    top: 50%;
    left: calc(50% + 0.2em);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

}

.video-title {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  color: white;
}


@media (min-width: 799px) {

  $videoWidth: 15em;
  $videoHeight:$videoWidth / (16/9);

  .caroussel-title {
    left: 3em;
    width: calc(100% - 3em);
    margin: 1em 0;

    h2 {
      text-align: left;
    }
  }

  .caroussel {
    padding: 0 3em;

    .caroussel-inner {
      margin:($videoHeight / 2) 0;
      &:hover {
        transform: translate3d($moveLeft, 0, 0);

        .video {
          opacity: .3;

          &:hover {
            transform: scale($growFactor);
            opacity: 1;
          }
        }
      }
    }
  }

  .video {
    width: $videoWidth;
    height: $videoHeight;

    &:hover {
      transform: scale($growFactor);
      opacity: 1;

      .video-details {
        opacity: 1;
      }

      ~ .video {
        transform: translate3d($moveRight, 0, 0);
      }
    }

    .episodes {
      height: $videoHeight - 2em;
    }
  }

  .video-img {
    width: $videoWidth;
    height: $videoHeight;
  }
}