@import 'base';
@import 'logo';
@import 'custom-background';
@import 'components';

.page {
	text-align: center;

	.logo {
		margin-top: 0.5em;
		font-size: 5em;
	}

	.login {
		margin: auto;
		margin-top: 4em;
		position: relative;
		width: 90%;

		.email-field {
			@extend %field;
		}

		.password-field {
			@extend %field;
		}

		%field {
			display: block;
			margin: 0.5em 0;
			width: 100%;
			padding: 0;
			font-family: "Museo Sans";
			text-align: center;
			line-height: 2.5em;
			font-size: 1.5em;
			color: #111;
			background: white;
			border: none;
			outline: none;
		}

		.invalid {
			 position: relative;

			 &:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				display: block;
				border-right: 1.2em solid transparent;
				border-bottom: 1.2em solid transparent;
				border-top: 1.2em solid #e84118;
			 }
		}

		.remember-me {
			margin-top: 1em;
		}

		$fab-shadow: 4px;

		.fab {
			font-size: 1.2em;
			position: fixed;
			bottom: 1.5em;
			right: 1.5em;
		    border-radius: 2em;
			width: 3em;
			height: 3em;
			border: none;
			background: $base-blue-button url($images-dir + 'components/white-check.svg') no-repeat;
			background-position: 50%;
			background-size: 50%;
			cursor: pointer;
			box-shadow: 0 0 $fab-shadow rgba(0,0,0,.14),0 $fab-shadow $fab-shadow*2 rgba(0,0,0,.28);
			@include transition(box-shadow 0.1s);			

			&:focus {
				box-shadow: 0 0 $fab-shadow*2 rgba(0,0,0,.14),0 $fab-shadow*2 $fab-shadow*4 rgba(0,0,0,.28);
				outline: none;
			}

			&:hover {
				box-shadow: 0 0 $fab-shadow*2 rgba(0,0,0,.14),0 $fab-shadow*2 $fab-shadow*4 rgba(0,0,0,.28);
			}
		}
	}
}

@media (min-width: 520px) {
	.page {
		.login {
			width: 75%;
		}		
	}
}

@media (min-width: 620px) {
	.page {
		.login {
			width: 60%;		
		}		
	}
}

@media (min-width: 799px) {
	.page {
		.login {
			width: 40%;

			%field {
				line-height: 2.2em;
			}

			.fab {
				position: absolute;
				top: calc(50% - 3em);
				right: -4em;
			}
		}		
	}
}

@media (min-width: 1024px) {
	.page {
		.login {
			width: 30%;
			margin-top: 5em;

			.fab {
				right: -5em;
			}
		}		
	}
}

@media (min-width: 1600px) {
	.page {
		.login {
			width: 25%;
			margin-top: 8em;
		}		
	}
}