@import 'base';
@import 'logo';
@import 'header';

$cardHeight: 20em;
$cardWidth: 16em;

.content {
    padding: 2em;
    position: relative;

    .title {
        font-size: 1.8em;
        font-family: 'Museo Sans';
    }

    .videos {
        text-align: center;
        width: 100%;
    }

}

.video-container {
    display: inline-block;
    margin: 1.5em;
    height: $cardHeight;
    width: $cardWidth;
    background-color: white;
    position: relative;
    color: black;
    text-decoration: none;
    @include transition(box-shadow 0.2s, transform 0.2s);

    &:hover {
        box-shadow: 2px 10px 20px grey;

        .episodes {
            bottom: -2em;
            z-index: 1;
        }
    }

    &:target {
        z-index: 2;
        position: fixed;
        left: 1em;
        top: 5em;
        width: calc(100% - 4em);
        height: 90%;
        box-shadow: 2px 10px 20px grey;

        .details {
            display: inline-block;
        }
    }

    .name {
        font-size: 1.2em;
        height: 1.5em;
        font-family: "Museo Sans";
        background-color: white;
        line-height: 1.5em;
        vertical-align: middle;
    }
}

.video {
    display: inline-block;
    background-color: white;
    position: absolute;
    height: $cardHeight;
    width: $cardWidth;
    top: 0;
    position: relative;
    @include transition(top 0.2s);

    .video-img {
      position: absolute;
      left: 0;
      top: 0;
      width: $cardWidth;
      height: $cardHeight;
    }

    .episodes {
        position: absolute;
        bottom: 0;
        
        width: 100%;
        height: 2em;
        z-index: -1;
        background-color: white;
        font-family: "Museo Sans";
        font-size: 1.2em;
        vertical-align: middle;
        line-height: 2em;

        label {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }   
}

.details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:target {
        display: inline;
    }
}