<input type="checkbox" id="menu-switch">
<header class="navigation-menu">
	<nav>
		<label for="menu-switch" class="menu">
			<span>menu</span>
		</label>
		<div class="header-title">{% include "_logo.html" %}</div>
		<a href="/logout" class="logout">
			Logout
		</a>
		<aside class="side-menu">
			<ul>
				<li class="link home"><a href="/">Home</a></li>
				<li class="link serie"><a href="/series">Series</a></li>
				<li class="link movie"><a href="/movies">Movies</a></li>
			</ul>
			<a href="https://github.com/ericdallo/gregflix" class="github">
				<img src="//gregflix.nyc3.digitaloceanspaces.com/file.gregflix.site/images/menu/github-logo.png">
			</a>
		</aside>
	</nav>
</header>