<video id="video-player" autobuffer defaultMuted controls preload="auto" crossorigin="anonymous" class="media" controlsList="nodownload">
  <source id="source" src="{{video.url}}" type="video/mp4" >
  <track id="subtitle" label="Português" kind="subtitles" srclang="pt-BR" src="{{video.url|replace:.mp4:.vtt}}"  default >
</video>
<span class="start-video loading"></span>
<section id="video-controls" class="video-controls"> 
  <div class="play"><button id="video-play" title="Play"></button></div>
  <div class="time">
    <span>
      <time id="video-time"></time> / <time id="video-length"></time>
    </span>
  </div>
  <div class="progress-container">
    <div id="video-progress-selectable" >
      <div id="video-progress-box">
          <span id="video-play-progress"></span> 
      </div>
    </div>
  </div>

  <div class="volume-icon"><button id="video-sound" title="Sound Toggle"></button></div>

  <div class="volume-container">
    <div id="video-volume-selectable" >
      <div id="video-sound-box">
        <span id="video-sound-progress"></span>
      </div>
    </div>
  </div>
  
  <div class="cast"><button is="google-cast-button"></button></div>
  <div class="fullscreen"><button id="video-fullscreen" title="FullScreen Toggle"></button></div>
</section>