{% extends "page.html"%}
{% block title %}Login{% endblock%}
{% block css %}login{% endblock%}
{% block body %}
<main class="page">
	<h1 class="logo">
		<span>g</span>
		<span>r</span>
		<span>e</span>
		<span>g</span>
		<span>f</span>
		<span>l</span>
		<span>i</span>
		<span>x</span>
	</h1>
	<form action="/login" method="POST" class="login">
		<input type="text" name="email" class="email-field" placeholder="E-mail" autofocus>
		<input type="password" name="password" placeholder="Password" class="password-field">
		<button class="fab"></button>
	</form>
</main>
{% endblock %}
