{% extends "page.html"%}
{% block title %}Login{% endblock%}
{% block css %}login{% endblock%}
{% block body %}
<main class="page">
	<h1 class="logo">
		<span>g</span>
		<span>r</span>
		<span>e</span>
		<span>g</span>
		<span>f</span>
		<span>l</span>
		<span>i</span>
		<span>x</span>
	</h1>
	<form action="/login" method="POST" class="login">
		<div class="{% if query-params.login_failed %}invalid{% endif %}">
			<input type="text" name="username" placeholder="E-mail" class="email-field" required autofocus>
		</div>
		<div class="{% if query-params.login_failed %}invalid{% endif %}">
			<input type="password" name="password" placeholder="Password" class="password-field" required>
		</div>
		<button class="fab"></button>
	</form>
</main>
{% endblock %}
