<!DOCTYPE html>
<html>
<head>
    <title>Gregflix | {% block title %}{%endblock%}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no shrink-to-fit=no" />
    <meta name="theme-color" content="#3498db">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gregflix">
    <meta name="apple-mobile-web-app-title" content="Gregflix">
    <meta name="msapplication-starturl" content="/">
    
    <link rel="stylesheet" type="text/css" href="/css/{% block css %}{%endblock%}.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="icon" sizes="192x192" href="//file.gregflix.site/images/logo/192x192/logo.png">
    <link rel="icon" sizes="160x160" href="//file.gregflix.site/images/logo/160x160/logo.png">
    <link rel="icon" sizes="96x96" href="//file.gregflix.site/images/logo/96x96/logo.png">
    <link rel="icon" sizes="48x48" href="//file.gregflix.site/images/logo/48x48/logo.png">
    <link rel="icon" sizes="32x32" href="//file.gregflix.site/images/logo/32x32/logo.png">

    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

    {% script "/bower_components/async-define/async-define.min.js"%}
    {% script "/bower_components/events-amd/events-amd.min.js"%}
    {% script "/bower_components/doc-amd/doc.min.js"%}
    {% script "/bower_components/form-amd/form.js"%}
    {% script "/bower_components/ajax-amd/ajax.min.js"%}

    <script async type="text/javascript" src="/js/login-remember.js" ></script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
