<!DOCTYPE html>
<html>
<head>
    <title>Gregflix | {% block title %}{%endblock%}</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#3498db">
    <link rel="stylesheet" type="text/css" href="/css/{% block css %}{%endblock%}.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>