{% extends "page.html"%}
{% block title %}{{video.title}}{% endblock%}
{% block css %}movie{% endblock%}
{% block body %}
{% include "_header.html" %}
<main class="content">
  <article class="video">
    <div class="video-container">
      <video controls preload="auto" crossorigin="anonymous" class="media" controlsList="nodownload">
        <source src="{{video.url}}" type="video/mp4" >
        <track label="Português" kind="subtitles" srclang="pt-BR" src="{{video.url|replace:.mp4:.vtt}}" default >
      </video>
    </div>
    <article class="details">
      <h1>{{video.title}}</h1>
      <section class="description">
        <p>{{video.description}}</p>
      </section>
    </article>
  </article>
</main>
{% endblock %}