{% extends "page.html"%}
{% block title %}{{video.title}}{% endblock%}
{% block css %}serie{% endblock%}
{% block body %}
{% include "_header.html" %}
<main class="content">
  <article class="video">
    <div class="video-container">
      <video controls preload="auto" crossorigin="anonymous" class="media" controlsList="nodownload">
        <source src="{{video.url}}" type="video/mp4" >
        <track label="Português" kind="subtitles" srclang="pt-BR" src="{{video.url|replace:.mp4:.vtt}}"  default >
      </video>
      {% if next-episode %}
        <a href="/series/{{video.slug}}/s/{{video.season}}/e/{{video.episode|add:1}}" class="next-episode option">Next</a>
      {% endif%}
      {% if previous-episode %}
        <a href="/series/{{video.slug}}/s/{{video.season}}/e/{{video.episode|add:-1}}" class="previous-episode option">Previous</a>
      {% endif%}
    </div>
    <article class="details">
      <h1>{{video.title}}</h1>
      <small class="episode">S0{{video.season}}E0{{video.episode}}</small>
      <section class="episode-name">
        <h2>{{video.episode_name}}</h2>
      </section>
      <section class="description">
        <p>{{video.description}}</p>
      </section>
    </article>
  </article>
</main>
{% endblock %}