{% extends "page.html"%}
{% block title %}{{video.title}}{% endblock%}
{% block css %}serie{% endblock%}
{% block body %}
{% include "_header.html" %}
<main class="content">
  <article class="video">
    <h1>{{video.title}}</h1>
    <h2 class="episode">S0{{video.season}}e0{{video.episode}}</h2>
    <div class="content">
      <div class="media">
        <video controls preload="auto" crossorigin="anonymous">
          <source src="{{video.url}}" type="video/mp4" >
        </video>
      </div>
      <section class="description">
        <strong class="subtitle">Description</strong>  
        <div class="content">
          <p>{{video.description}}</p>
        </div>
      </section>
    </div>
  </article>
</main>
{% endblock %}